.ipynb_checkpoints/
__pycache__/

# Slurm output
slurm*.out

# Sensitive data
keys/**
apikeys.txt
apikeys.key
*.key

# Temporary/Intermediate Data Files
*.npy

# Data files (ignore all, except README.md)
data/*
!data/README.md

# Explicitly ignore large data files
# data/comments.json
data/filtered_comments.csv
data/df_sentences.pkl
