.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/

# Slurm output
slurm*.out

# Sensitive data
keys/**
apikeys.txt
apikeys.key
*.key

# Temporary/Intermediate Data Files
*.npy

# Output folder
outputs/

# Big data files
*.json
*.csv
df_final.pkl
df_processed.pkl
sbert_data.pkl