.ipynb_checkpoints/
__pycache__/

# Slurm output
slurm*.out

# Sensitive data
keys/**
apikeys.txt
apikeys.key
*.key

# Temporary/Intermediate Data Files
*.npy
data/**
# Python-related files
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.Python
migrations/
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg